@import url(http://fonts.googleapis.com/css?family=Shanti);
@import url(http://fonts.googleapis.com/css?family=Oswald);

header {
  background-image: url("oceanbkgrd.jpg");
  background-size: cover;
}

.pheader {
  font-family: Oswald, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #021C4D;
  text-align: center;
  margin-top: -13px;
}

body {
  margin-top: -16px;
  margin-left: 0;
  margin-right: 0;
}

li {
  list-style-type: none;
}

.topnav1 {
  font-family: Oswald, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #021C4D;
  text-decoration: none;
  float: left;
  margin-top: -140px;
  margin-left: 45px;
}

.topnav2 {
  font-family: Oswald, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #021C4D;
  text-decoration: none;
  float:right;
  margin-top: -140px;
  padding-right: 155px;
}

.topnav3 {
  font-family: Oswald, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #021C4D;
  text-decoration: none;
  float:right;
  margin-top: -140px;
  padding-right: 100px;
}


.overlay {
  width: 100%;
  height: 275px;
  background-color: #1558B0;
  border: none;
  opacity: 0.8;
  padding-top: 15%;
}

h1 {
  font-family: Shanti, sans-serif;
  font-weight: 500;
  font-size:85px;
  color: white;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  letter-spacing: .05em;
  margin-bottom: 0;
}

article {
  width: 50%;
  margin-left: 15%;
  margin-right: 10%;
}

article li {
  display: inline;
}

article ul {
  text-decoration: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
}
